<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @user.employee %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
